// Site Colors
$color_primary : #37a7d5;
$color_secondary : #03a9f4;
$color_tertiary : #b0e0e6;
$color_white : #ffffff;

// Feedback colors
$color_error: #8B0000;
$color_success: #228b22;
$color_warning: #ffa500;

// font colors
$color_font: #363636;

//Shades of gray
$color_dim_gray : #696969;
$color_gray : #808080;
$color_dark_fray : #a9a9a9;
$color_silver : #c0c0c0;
$color_light_grey : #d3d3d3;
$color_gainsboro : #dcdcdc;
$color_lighter_grey: #ececec;
//element colors 
$color_body : $color_lighter_grey;
$color_border : $color_silver;
